* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    min-width: 100vh;
    min-height: 100vh;
    --cor-borda-unica: #33323D;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FAFAFA;
}

.projeto {
    width: 635px;
    margin-left: 80PX;
}

.texto {
    width: 26.875rem;

    border-top: 1px solid var(--cor-borda-unica);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.conteiner-nav {
    width: 69.43rem;
    display: flex;
    justify-content: space-between;
    padding-top: 4rem;
    margin-bottom: 3.37rem;
}

.conteiner-nav a {
    text-decoration: none;
    letter-spacing: 2px;
    margin-left: 2.62rem;
    color: #33323D;
}

.conteiner-nav a:hover {
    color: #5FB4A2;
}

.conteiner-info3 {
    width: 69.375rem;
    display: flex;
    justify-content: space-between;

    margin-top: 9.375rem;
    margin-bottom: 9.375rem;
}

.conteiner-info3 h1 {
    width: 22.9375rem;
    height: 5.25rem;
}

.conteiner-info3 button {
    width: 10.5rem;
    height: 3rem;

    color: #33323D;
    border: 0.0625rem solid var(--cor-borda-unica);
}

.rodape {
    display: flex;
    min-height: 5rem;
    width: 100%;
    background-color: #33323D;
    justify-content: space-between;

}

.btn-nav {
    display: flex;
    flex-direction: row;
    width: 26.125rem;
    margin-left: 165px;
    align-items: center;
}

.btn-nav a {
    text-decoration: none;
    color: #FAFAFA;
    letter-spacing: 2px;
    margin-left: 43px;
}

.btn-nav a:hover {
    color: #5FB4A2;
}

.rodape .btn-info3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 6.5rem;
    margin-right: 165px;
}

.btn-info3 button {
    all: unset;
}

h1 {
    font-family: 'Ibarra Real Nova', serif;

}

h2 {
    font-family: 'Ibarra Real Nova', serif;
}

p {
    font-family: 'Public Sans', sans-serif;
}

input {
    cursor: pointer;
}

input:focus {
    border: 1px solid #33323D;
}

a {
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
}

.btn-info2 {
    margin-top: 24px;
    margin-bottom: 48px;
}

.btn-ctt {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.5rem;
    height: 3rem;

    color: #33323D;
    border: 0.0625rem solid #33323D;
}

a {
    color: #33323D;
}

.nav {
    width: 1230px;
    height: 132px;
    display: flex;
    padding-right: 20px;
    border-top: 1px solid var(--cor-borda-unica);
    border-bottom: 1px solid var(--cor-borda-unica);

}

.btn-final {
    width: 1230px;
    display: flex;
    justify-content: space-between;
}

.btn-nav ul {
    display: flex;
    flex-direction: row;
    width: 26.125rem;
    margin-left: 40px;
    align-items: center;
}